<header class="navbar">
  <div
    class=""
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0;
    "
  >
    <a href="#" aria-label="Inicio">
      <img src="/images/solo_logo.png" class="nav-img" alt="">
    </a>
    <nav style="display: flex; gap: 1rem; align-items: center;">
      @for (l of links; track $index) {
        <a href="{{l.href}}">{{ l.label }}</a>
      }
      <a href="#contact" class="btn btn-ghost">Hablemos</a>
    </nav>
  </div>
</header>
