<section class="section hero-section">
  <div class="container hero">
    <div animate.enter="fade-in-up" class="hero__left card glow-border">
      <span class="badge">Innovando el mundo digital</span>
      <h1>Vardump</h1>
      <p class="lead">Creamos Experiencias digitales con detalle, rendimiento y escabilidad. Web, Apps y Soluciones Cloud al alcance de todos</p>
      <div class="hero__actions">
        <a href="#portfolio" class="btn btn--primary">Ver trabajos</a>
        <a href="#contact" class="btn btn--ghost">Enviar mensaje</a>
      </div>
    </div>
    <div animate.enter="fade-in-right" class="hero__right card card--hover">
        <img src="/images/pantera_sin_fondo_borde_blanco_redi-Photoroom.png" alt="Hero Image" class="hero-img">
        <img src="/images/pantera_nombre_blanco_sin_fondo-recortado.png" class="title-img" alt="Hero Image">
        <div class="hero-text">
          <p style="text-align: center">¿Querés llevar tu negocio de moda al próximo nivel?</p>
          <p style="text-align: center">
            Simplificá la gestión de tu tienda de indumentaria con nuestro software. Dejá de lado las planillas y el caos. Controlá tu stock en tiempo real, gestioná tus ventas, registrá clientes y mucho más, todo desde un solo lugar.
          </p>
        </div>
<!--      <svg class="hero-svg" viewBox="0 0 600 380" xmlns="http://www.w3.org/2000/svg" role="img"-->
<!--           aria-label="Circuito digital">-->
<!--        <defs>-->
<!--          <linearGradient id="gradA" x1="0" y1="0" x2="1" y2="0">-->
<!--            <stop offset="0" stop-color="#5b8cff" />-->
<!--            <stop offset="1" stop-color="#ff44d6" />-->
<!--          </linearGradient>-->
<!--          <filter id="glow" x="-50%" y="-50%" width="200%" height="200%">-->
<!--            <feGaussianBlur stdDeviation="6.5" result="coloredBlur" />-->
<!--            <feMerge>-->
<!--              <feMergeNode in="coloredBlur" />-->
<!--              <feMergeNode in="SourceGraphic" />-->
<!--            </feMerge>-->
<!--          </filter>-->
<!--        </defs>-->
<!--        <g stroke="url(#gradA)" stroke-width="2" fill="none" filter="url(#glow)">-->
<!--          <rect x="230" y="120" width="140" height="140" rx="18" />-->
<!--          <rect x="255" y="145" width="90" height="90" rx="12" />-->
<!--          &lt;!&ndash; Líneas de conexión &ndash;&gt;-->
<!--          <path d="M300 120 V60 H520" />-->
<!--          <path d="M370 170 H520" />-->
<!--          <path d="M230 170 H80" />-->
<!--          <path d="M300 260 V320 H80" />-->
<!--          <circle cx="520" cy="60" r="5" />-->
<!--          <circle cx="80" cy="170" r="5" />-->
<!--          <circle cx="80" cy="320" r="5" />-->
<!--        </g>-->
<!--      </svg>-->
    </div>
  </div>
</section>
